SHOPIFY_SHOP_DOMAIN=sugarloafsocialclub.myshopify.com
SHOPIFY_CLIENT_ID=your_client_id
SHOPIFY_CLIENT_SECRET=your_client_secret
SHOPIFY_API_VERSION=2025-01
GMAIL_USER=jonah@proshop.inc
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx
REPORT_RECIPIENT=jonah@proshop.inc
REPORT_TIMEZONE=America/New_York
SHOP_NAME=SSC
